* {
    padding: 0;
    margin: 0;
}

/* font-family: 'Merriweather', serif;
font-family: 'Inter', sans-serif; */

.container {
    padding: 0 140px;
    margin: 0 auto;
    max-width: 1280px;
}

.banner-section {
    /* background: url(./imame/Banner\ Image.png), #080000; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.928), rgba(0, 0, 0, 0)), url("./imame/Banner\ Image.png");
    background-repeat: no-repeat;
    text-align: center;
    justify-content: cover;
    background-position: center;
    background-size: cover;
    margin: 50px 140px;
    padding-bottom: 134px;
    border-radius: 10px;


}

.banner-section .container {
    padding: 0;
}

.banner-section .main-column {
    margin: 0 auto;
    text-align: center;
    /* background-color: #00000089; */
    /* background-size: contain; */

    /* clip-path: polygon(0 0, 20% 0, 100% 0, 100% 100%, 81% 100%, 80% 70%, 67% 54%, 29% 55%, 19% 73%, 19% 99%, 0 100%, 0% 85%);  */
}


.banner-section h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 126px;
    text-shadow: 1px 1px 5px #000;
}

.banner-section h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    max-width: 632px;
    /* padding: 0px 250px 141px 250px; */
    text-shadow: 1px 1px 5px #000;
    margin: 0 auto;
}

/* discound section..................................................... */

/* .banner-section {
    padding: 100px 0;
} */

.discound-section .main-column {
    text-align: center;
    max-width: 700px;
}

.discound-section h2 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discound-section p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
}

.discound-section h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 20px;

}

.discound-section img {
    width: 100%;
    padding-top: 40px;
}



/* party section.............................................................. */



.party-section {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(./imame/Vectorrr.png);
    /* display: flex;
	justify-content: space-around; */
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px 140px;
    border-radius: 10px;

}

/* .party-section {
   
} */

.party-section .container {
    padding: 0;
}

.party-section .main-column {
    align-items: center;
    display: flex;
    padding: 50px;
    gap: 50px;


}


.party-section h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party-section p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0 50px 0;
}

.party-section button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    border: 1px solid #fff;
    padding: 13px 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px grey;
}

/* .flex-column1{
    max-width: 800px;
    padding: 50px;
} */

.party-section .flex-column img {
    /* width: 319px;
    height: 468px; */
    width: 100%;
    height: 400px;
}

/* year section ...................................................................................... */


.year-section .main-column {
    background-color: #FFEEEE;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #070211;


}


.year-section h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.year-section span {
    color: #F00;
}

.year-section button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 40px;
    border-radius: 8px;
    background: #F00;
    margin-top: 30px;
    box-shadow: 5px 5px 20px;
    border: 1px solid #F00;
    transition: .4s;
}

.year-section button:hover {
    background-color: #FFF;
    color: #F00;
    box-shadow: 5px 5px 20px;
    border: 1px solid #F00;
}

.year-section .flex-column {
    background-color: #FFECEC;
    border-radius: 8px;
    padding: 70px;
}




/* offer-section,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

.offer-section {
    padding: 150px 0;
}

.offer-section .main-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    align-items: center;

}

.offer-section .flex-column1 img {
    height: 364px;
    width: 364px;
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 25px;
}

.offer-section .flex-column2 img {
    height: 140px;
    width: 140px;
}

.offer-section h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}


.offer-section h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 15px 0;
}

.offer-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-section {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}




/* sale-section */

/* .sale-section {
    background: url(./imame/Rectangle\ 1.png);
    background-position: right bottom;
    background-repeat: no-repeat;
} */
.sale-section .main-column {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: cover;
    height: 700px;
    gap: 50px;
    column-gap: 50px;
    background: linear-gradient(to bottom, white 62.5%, red 62.5%);
    width: cover;
    border-radius: 10px;
    margin-top: 50px;

}


.sale-section h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

}

.sale-section h1 span {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

.sale-section h1 {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    padding: 20px 0;
}

.sale-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}


.sale-section .flex-column img {
    width: 797px;
    height: 663px;
    text-align: right;


}


.sale-section .flex-column1 img {
    /* width: 430px; */
    /* height: 430px; */
    position: relative;
    width: 100%;
    padding-top: 186px;
}

.sale-section .flex-column1 {
    position: relative;
}

.sale-section .flex-column1::after {
    content: '';
    position: absolute;
    background: url(./imame/Group\ 44.jpg);
    height: 340px;
    width: 340px;
    top: 34%;
    transform: translateY(-50%);
    left: -162px;
}




/* gallary                    */

.gallery-section {
    padding: 150px 0;
}

.gallery-section h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.gallery-section h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 15px 0;

}


.gallery-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 30px;

}


.gallery-section .flex-column img {

    box-shadow: 1px 1px 15px #000;
    border-radius: 15px;
    transition: .4s;
    width: 100%;



}

.gallery-section .flex-column img:hover {

    box-shadow: 1px 1px 20px #078b0b;
    border-radius: 15px;
    transition: .4s;


}

.fast-column {
    max-width: 700px;
}

.gallery-section .main-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}




/* .communication-section */


.communication-section {
    margin-bottom: 100px;
}

.communication-section .main-column {
    text-align: center;
    justify-content: center;
    padding: 60px 150px;
    background-color: #FFF2F2;
    border-radius: 10px;

}

.communication-section h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 20px 0;
}

.communication-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 5px 0 30px 0;
}

.communication-section img {
    width: auto;
}

.communication-section input {
    width: 100%;
    padding: 10px 15px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    color: #080000;
    border: 0;



}

.communication-section input:focus {
    outline: 1px solid yellow;
    box-shadow: 1px 1px 10px;
}




.communication-section form input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.communication-section form {
    display: flex;
    max-width: 600px;
    margin: 0 auto;

}

.communication-section .forms {
    text-align: center;
}

.communication-section #usernaem {
    max-width: 450px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 50px 0px 0px 50px;
}

.communication-section #submit {
    max-width: 150px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.communication-section #submit:hover {
    box-shadow: 1px 1px 20px #000;
    transition: .4s
}



/* footer-section */

.footer-section .top-column {
    display: flex;
    justify-content: space-between;
}



.footer-section .medel-column {
    text-align: center;
    padding: 80px 0;

}

.footer-section .bottom-column {
    display: flex;
    justify-content: space-between;

}

.footer-section img {
    width: auto;
    padding-left: 10px;

}

.footer-section {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-section p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-section a {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
    transition: .9s;
}

.footer-section a:hover {
    text-decoration: underline;

}

.footer-section i {
    color: #FFF;
    font-size: 24px;
    padding-right: 10px;
}

.footer-section .main-column .flex-column1 {
    padding-right: 80px;
}




/* media query................................... */

@media only screen and (max-width: 1080px) {
    
    .banner-section {
        background-size: contain;
     }


    .banner-section,
    .party-section,
    .discound-section {
        margin: 50px 60px;
    }

    .container {
        padding: 0 60px;
    }

    .banner-section h1 {
        font-size: 50px;
        line-height: 60px;

    }

    .party-section h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .offer-section .flex-column1 img {
        height: 264px;
        width: 264px;
        border: 15px solid #F00;
    }

}


@media only screen and (max-width: 989px) {



    .offer-section h3 {
        font-size: 40px;
    }

    .offer-section h4 {
        font-size: 40px;

    }
}

@media only screen and (max-width: 768px) {
    
    .banner-section{
        background-image: url("./imame/Banner\ Image.png");
        opacity: .5 #000;

    }

    .offer-section .flex-column1 img {
        height: 200px;
        width: 200px;
        border: 15px solid #F00;
    }

    .offer-section .main-column {
        column-gap: 30px;
    }

    .offer-section h3 {
        font-size: 38px;
    }

    .offer-section h4 {
        font-size: 38px;

    }
}

@media only screen and (max-width: 768px) {
    .offer-section .main-column {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
        align-items: center;
       
    }

    .banner-section h1 {
        font-size: 35px;
        line-height: 40px;

    }
    .banner-section h3 {
        font-size: 25px;
        line-height: 40px;

    }

    .party-section h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 520px) {

    .banner-section,
    .party-section,
    .discound-section {
        margin: 50px 30px;
    }
    .container {
        padding: 0 30px;
    }


    .banner-section h1 {
        font-size: 30px;
        line-height: 30px;

    }

    .banner-section h3 {
        font-size: 20px;
        line-height: 30px;
    }
}


























/* 
<svg xmlns="http://www.w3.org/2000/svg" width="1320" height="600" viewBox="0 0 1320 600" fill="none">
  <path d="M1304 0H16C7.16344 0 0 7.16343 0 16V584C0 592.837 7.16343 600 16 600H1304C1312.84 600 1320 592.837 1320 584V16C1320 7.16345 1312.84 0 1304 0Z" fill="url(#paint0_linear_114_6289)"/>
  <defs>
    <linearGradient id="paint0_linear_114_6289" x1="0" y1="300" x2="1320" y2="300" gradientUnits="userSpaceOnUse">
      <stop stop-color="#070211"/>
      <stop offset="1" stop-color="#070211" stop-opacity="0"/>
    </linearGradient>
  </defs>
</svg> */